/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  overflow-y: hidden;
}

body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 22%;
  margin: 1.5%;
}

.med-grid-item {
  width: 47%;
  margin: 1.5%;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.big-grid-item {
  width: 72%;
  margin: 1.5%;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.grid-item {
  float: left;
}
.big-grid-item .title{
  font-size: 1.7rem;
  line-height: 1.7rem;
}
.content figure {
    margin-left: 0;
    margin-right: 0;
}
.cover-image {
  object-fit: cover;
  height: 100%;
  width: unset;
  border-radius: .3em .3em 0 0;
  opacity: 85%;
}
.card-content .title {
  margin-bottom: .3em !important;
}
.card {
  background: #FFFFFF45;
  border-radius: .3em;
}
.boxOLD{
  background: linear-gradient(157deg, #8cb7de, #d6b37c, #a3afe5, #c7cd5c, #97c7bb);
  background-size: 1000% 1000%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}

body {
  color: #4a4a4a;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  overflow: hidden;
  background: linear-gradient(70deg, rgba(240,221,123,1) 0%, rgba(218,188,181,1) 18%, rgba(154,222,222,1) 37%, rgba(176,170,219,1) 62%, rgba(213,159,159,1) 84%, rgba(148,233,207,1) 100%);
  background-size: 1000% 1000%;
  -webkit-animation: BackgroundMovement 16s ease infinite;
  -moz-animation: BackgroundMovement 16s ease infinite;
  animation: BackgroundMovement 16s ease infinite;

  background-repeat: no-repeat;
  background-attachment: fixed;
}

@-webkit-keyframes BackgroundMovement {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@-moz-keyframes BackgroundMovement {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}
@keyframes BackgroundMovement {
    0%{background-position:0% 58%}
    50%{background-position:100% 43%}
    100%{background-position:0% 58%}
}

a {
  color: #8085C1;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #555;
  border: none;
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  max-width: 128px;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #777;
}

.posts-list {
  list-style-type: none;
}

.posts-list li {
  text-align: center;
  line-height: 1.75em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.title a{
  display: inline-block;
  text-align: center;
  line-height: 25px;
  color: #444;
  padding-bottom: 15px;
  font-family: 'Roboto', Arial, sans-serif;

}

.tagline {
  width: 100%;
  color: rgba(64, 64, 64, .5);
  font-weight: 600;
  text-align: center;
  text-transform: lowercase;
  margin-top: 0.5em;
  display: block;
}

.posts {
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.footer {
  border-top: 1px solid #444;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  overflow: hidden;
  color: #444;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 1vh;
  line-height: 4vh;
  width:18vh;
}

.footer-link {
  color: #444;
}

#right-title {
  display: inline-block;
  text-align: right;
  line-height: 25px;
  color: #444;
  text-align: center;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0px;
  top: 20px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 2em;
  text-transform: lowercase;
  font-weight: 600;
  color: rgba(64, 64, 64, .5);
}

#cover-photo-container,
#info-container {
  display: block;
}

#info-container {
  margin-top: 1em;
}

#postContainer {
  /* padding:1em; */
  /* background: #FFF6; */
  /* border-radius: 1em; */
}

#postContainer p {
  font-size:1.4em;
}

#title {
  color: #4a4a4a;
  margin-bottom: 0.35em;
  font-size: 3.3em;
  line-height: 1em;
  text-transform: lowercase;
  font-family: 'Roboto', Arial, sans-serif;
}

.post {
  line-height: 24px;
  max-width: 725px;
  clear: both;
}

.post h2 {
  margin-top: 1.25em;
  margin-left: -0.5em;
  text-transform: lowercase;
  margin-bottom: 1.25em;
}

.post a,
#about a {
  border-bottom: 1px solid #8085C1;
}

.post a:hover {
  border: none;
}

.title {
  font-size: 1.5rem;
  font-family: 'Roboto', Arial, sans-serif;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  /* font-family: 'Source Sans Pro', Arial, sans-serif; */
  font-size: 17px;
  margin-bottom: 1.45em;
  text-align: justify;
}

.post ul, .post ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
}

.sidebar {
  float: left;
  width: 18vh;/*
  padding-left: 2.125em;
  padding-right: 2.125em;*/
  border-right: 1px solid #444;
}

.header {
  text-align: center;
  text-transform: lowercase;
  padding-top: 2.5em;
  font-size: 1.1em;
}

.post-link {
  margin-bottom: 0.75em;
}

.post-title {
  font-weight: 600;
  font-size: 1.25em;
  text-transform: lowercase;
}

.post-date {
  color: #8a8a8a;
  font-family: Monaco, "Courier New", monospace;
  font-weight: 600;
  font-size: 0.65em;
  display: block;
  text-transform: lowercase;
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  padding: 15px 5px 0px 0px;
  margin-top: 0px;
  border-bottom: 1px solid #444;
  position:relative;
  padding-bottom: 10px;
  min-width:250px;
}

#sidebar-img {
  font-size: 50px;
  padding-bottom: 10px;
  top:4px;
  position:relative;
}

#sidebar-img:active,
#sidebar-img:hover {
  opacity: 0.7;
}

/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted #444;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.95em;
  color: #777;
}
