
#nametag {
    position: absolute;
    top: 5vh;
    left: 10vh;
    transform: rotate(90deg);
    width: 140vh;
    transform-origin: top left 0;
    margin: 0;
    text-align: left;
    font-size: 11.5vh;
}

  #cover-photo {
    max-width: 300px;
    margin-top: 20px;
  }

  .header {
    padding-top: 3.45em;
  }

  .posts {
    font-size: 0.9em;
  }

  .footer {
    font-size: 0.85em;
  }
  
  #logo {
    max-width: 100px;
  }

  #title {
    font-size: 2.75em;
    line-height: 35px;
  }

  .header {
    padding-top: 3.85em;
  }

  .posts {
    font-size: 0.85em;
  }
/*
  .sidebar {
    min-width:250px;
  }*/

  .content {
    padding-right: 2em;
    padding-top: 2em;
  }

  .footer {
    font-size: 3vh;
    background-color: #00000000 !important;
  }
@media (max-width:1009px) {
.grid-item {
  width: 45%;
  margin: 2%;
}
}


/**
 * iPhone width
 **/
@media (max-width:640px) {

.grid-item {
  width: 90%;
  margin: 1.5%;
}
#nametag {
    font-size: 9.5vh;
}
}

/*****************************************************************************/
/*
/* Sidebar responsive animations
/*
/*****************************************************************************/

.slideIn {
  margin-left: 0%;
}
