
#nametag {position: absolute;
  transform: rotate(-90deg);
  bottom: -10vh;
  left: 7.3vh;
  width: 100vh;
  transform-origin: top left 0;
  margin: 0;
  text-align: right;
  font-size: 11.5vh;
}

a:hover {
    text-decoration: underline;
}

  #cover-photo {
    max-width: 300px;
    margin-top: 20px;
  }

  .header {
    padding-top: 3.45em;
  }

  .posts {
    font-size: 0.9em;
  }

  .footer {
    font-size: 0.85em;
  }
  
  #logo {
    max-width: 100px;
  }

  .header {
    padding-top: 3.85em;
  }

  .posts {
    font-size: 0.85em;
  }

  .footer {
    font-size: 3vh;
    background-color: #00000000 !important;
  }
@media (max-width:1009px) {
.grid-sizer,
.grid-item {
  width: 30%;
  margin: 1.5%;
}

.med-grid-item {
  width: 63%;
  margin: 1.5%;
}

.big-grid-item {
  width: 95%;
  margin: 1.5%;
}
}
@media (max-width:809px) {
.grid-sizer,
.grid-item {
  width: 45%;
  margin: 1.5%;
}

.med-grid-item {
  width: 95%;
  margin: 1.5%;
}

.big-grid-item {
  width: 95%;
  margin: 1.5%;
}
}


/**
 * iPhone width
 **/
@media (max-width:640px) {
.grid-sizer,
.grid-item {
  width: 95%;
  margin: 1.5%;
}

.med-grid-item {
  width: 95%;
  margin: 1.5%;
}

.big-grid-item {
  width: 95%;
  margin: 1.5%;
}
}

/*****************************************************************************/
/*
/* Sidebar responsive animations
/*
/*****************************************************************************/

.slideIn {
  margin-left: 0%;
}
